*{margin:0;padding:0}
.header{
    width:100%;
    height:50px;
}
.footer{
    width:100%;
    height:468px;
}
.register{
    width:1200px;
    height:791px;
    margin:0 auto;
    display:flex;
}
.left{
    width:360px;
    height:277px;
    margin:100px 40px 60px 0px;
}
.left_1{
    width:340px;
    height:33px;
    padding:0 10px 3px;
}
.left_2{
    width:360px;
    height:244px;
}
.left_2li{
    width:340px;
    height:60px;
    padding:0 10px;
    list-style:none;
    border-bottom:1px solid #d2d2d2;
}
.left_2p{
    width:295px;
    padding:31px 25px 5px 0;
}
.right{
    width:800px;
    height:641px;
    margin:40px 0 40px 0;
}
.right_all{
    width:800px;
    height:641px;
    margin: 0 auto;   
}
.right1{
    width:800px;
    height:31px;
    border-bottom:1px solid #d2d2d2;
}
.right2{
    width:780px;
    height:550px;
    margin: 0 0 50px 0;
    padding:30px 10px;
}
.right2_1{
    width:600px;
    height:246px;
    margin: 0 auto 30px;
    padding:0 0 70px 0;
    position: relative;
}
.right2_11{
    width:600px;
    height:16px;
    margin:15px auto 25px;
    font-size:12px;
}
.right2_a{
    text-decoration:none; 
    color:#aaa;
    font-size:12px;

}
.right2_a:hover{
    color:#000;
}
.right2_2{
    width:600px;
    height:30px;
    margin:15px auto;
    font-size: 12px;
    color:#aaa;
}
.right2_2a{
    width: 80px;
    height:30px;
    /*float: left;*/
    line-height: 30px;
    position: absolute;
    
}
.right2_2b{
    width: 240px;
    float: left;
    line-height: 30px;
}
.right2_ipt{
    width:270px;
    height:30px;
    line-height: 30px;
    padding:0 5px;
    background:#f0f0f0;
    border:0;
    border-radius:2px;
    box-shadow:-1px -1px 2px -2px;
    position: relative;
    left:85px;
}
.right2_2c{
    height:30px;
    line-height: 30px;
    position:fixed;
    left:140px;
    display:none;
}
.right2_ipt2{
    width:120px;
    height:30px;
    line-height: 30px;
    padding:0 5px;
    background:#f0f0f0;
    border:0;
    border-radius:2px;
    box-shadow:-1px -1px 2px -2px;
}
.right2_2ab,.right3_a{
   text-decoration:none;
   color:#abe0f9;
}
.right2_2ab:hover,.right3_a:hover{
    color:#4fcdf3;
}
.right_end{
    width: 600px;
    margin:15px auto;
    color:#4fcdf3;
    font-size: 14px;
}
.right_clear{
    clear: both;
    display:block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.right_end2{
    width: 100px;
    height:30px;
    line-height: 30px;
    color:#fff;
    background:#9fd9f6;
    border-bottom-left-radius: 2px 4px;
    position: absolute;
    left: 80px;
    bottom:75px;
    border: 0px;
    border-radius:2px;
    box-shadow: 0px 2px 0px #7faec5; 
}
.right3{
    width:600px;
    height:16px;
    left:605px;
    bottom:470px;
    font-size: 12px;
    color:#aaa;
}
.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.vali_success,.vali_fail{
	background-repeat:no-repeat;
  background-position:left center;
	display:block;
}
/*当文本框失去焦点时，如果验证通过，则给旁边的div设置验证通过的样式*/
.vali_success{
	padding-left:20px;
	width:0px;height:20px;
	overflow:hidden;
}
/*当文本框失去焦点时，如果验证失败，则给旁边的div设置验证失败的样式*/
.vali_fail{
    color:Red;
    padding-left:30px;
    position: relative;
    left: 140px;
    top:6px;
}